body{
    display:grid;
    place-items: center;
    min-height: 60vh;
    font-family: "Roboto", sans-serif;
    background: #D4CBB8;
    margin-top: 150px;
}

#header{
    font-size: 50px;
    color: rgba(0,0,0,0.4);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

#box{
    resize: none;
}

#box.maxed{
    outline: 2px solid red;
}

#boxAndCounter{
    position: relative;
    display: inline-block;
}

#counter{
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 12px;
    color: #888;
    pointer-events: none;
}